<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Hello </title>
</head>
<body>
<h3 th:if="${message}"/>
<form th:action="@{/registration}" method="post">
  <div><label> User Name : <input type="text" name="username" class="form-control"/> </label></div>
  <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
  <div><input type="submit" class="btn btn-success" value="Sign Up"/></div>
  <a href="/login">Login</a>
</form>
</body>
</html>